.question-wrapper {
  height: calc((100vh - 6.25rem) * 0.4);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 2.9rem;
}

.options-wrapper {
  height: 16rem;
  background-color: #ffffdd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-color: #e2a73d;
  border-style: solid;
  border-radius: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.option {
  width: 50%;
  font-size: 1.8rem;
}

.lottie {
  z-index: 10;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 5%;
  height: 35rem;
}

@media (min-width: 30rem) {
  .capital-game,
  .flag-game,
  .name-game,
  .shape-game {
    width: 30rem;
    margin: auto;
  }
  .options-wrapper {
    margin: 0;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0.3;
}
