.snackbar-wrapper {
  margin: auto;
  width: 50%;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.snackbar-correct {
  padding: 0.5rem;
  background-color: green;
  color: white;
}

.snackbar-incorrect {
  padding: 0.5rem;
  background-color: rgb(238, 210, 2);
  color: black;
}

.snackbar-message {
  font-size: 1.5rem;
  font-weight: bold;
}
